.link {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 기본 텍스트 색상 유지 */
}

.link:hover, .link:focus {
  text-decoration: none; /* 호버 시에도 밑줄 제거 */
  color: inherit; /* 색상 변경 방지 */
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.postList {
  list-style: none;
  padding: 0;
}

.postItem {
  background: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.date {
  font-size: 12px;
  color: gray;
}

.comments {
  font-weight: bold;
  color: #0070f3;
}

.title {
  font-size: 20px;
}